#table_div:p {
    background-color: yellow;
}


.weathersub {
   color: #774F38;
}
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline;}
.value {
    color: #007000;
    }
.bordered {
    border: 1px solid #F1D4AF;
}
.cell {
    margin: 3px;
    padding: 6px;
    float: left;
    }
.headerNoPad {
    margin: 3px;
    padding-left: 6px;
    padding-right: 6px;            
    margin-bottom: 0px; 
    float: left;
}
.pad {
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 2px;
}
.smallpad {
    padding: 4px;
    padding-bottom: 2px;
}
.line {
    padding-top: 3px;
    padding-bottom: 3px;
}
.header {
    margin: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 10px;    
    padding-bottom: 2px;                 
    float: left;            
}
.headerContent {
    height: 64px;    
    float: left;        
}
.wide {
    width: 95%;
}
.leftCell {
    float: left;
}
.rightAlign {
    text-align: right;
}
.rightCell {
    position: relative;
    right: 0px;
    text-align: right;
}
.leftpad {
    padding-left: 5;
}
.bigger {
    font-size: 140%;
}
.tabPane {
    width: 95%;
    margin: 3px;
    padding-top: 3px;
    padding-bottom: 0px;
    clear: both;
    height: 21px;
    border-bottom: 1px solid #F1D4AF;
}
.tab {
    margin-bottom:3px;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    float: left;
    height: 16px;
    background: #F1D4AF;
    border-bottom: 1px solid #F1D4AF;
}
.selected {
    background: white;
    border-right: 1px solid ;
    border-top: 1px solid #F1D4AF;
    border-left: 1px solid #F1D4AF;
    border-bottom: 1px solid #ECE5CE;
}
.symbol {
    font-size:120%;
}
.graph {
    line-height:18px;
}
.units {
    position: relative;
    right: 0px;
    text-align: right;
}
.navbar-default .navbar-brand {
  color: #ECE5CE ;
}
.navbar-default .navbar-nav>li>a {
  color: #ECE5CE ;
}
.icon-bar {
  background-color: #ECE5CE;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ECE5CE;
}